.button {
    padding: 4px 25px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.disabled {
    background-color: #004D99;
    color: #002E5C
}

.secondary {
    border: 1px solid #0066CC;
    color: #0066CC;
}

.default {
    background-color: #0066CC;
    color: white;
}

.red {
    background-color: #CC1439;
    color: white;
}

.default:hover {
    background-color: #0080FF;
}

.red:hover {
    background-color: #FF1A47;
}

.secondary:hover {
    background-color: #E5F0FA;
}


.default:active {
    background-color: #0059B2;
}

.secondary:active {
    background-color: #C9E5FF;
}

.red:active {
    background-color: #B21232;
}

.button:disabled {
    background-color: #004D99;
    color: #002E5C;
}
